.contact-me {
 
  padding: 50px;
  font-size: x-large;
}
.table {
    height: 300px;
    width: 700px;
  background-color: grey;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}
tr input{
    width: 400px;
    height: 45px;
  }

.btn1 {
  padding: 7px;
  border: 4px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border-style: double;
  font-size: large;
  background-color: transparent;
  text-decoration: none;
 
}
.btn1:hover {
  color: rgb(23, 0, 128);
  background-color: white;
  
}
