.img {
  border-radius: 80px;
  border: solid;
  height: 300px;
}
.sec {
  margin: 40px;
}
.div-image {
  display: inline-block;
}
.div-information {
  display: inline-block;
}
.div-information h1 {
  padding-top: 10px;
  font-size: xx-large;
}
.div-information p {
  font-size: large;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
}


